.container {
    margin-top: 10px;
    width: 400px ;
    margin-left: auto ;
    margin-right: auto ;
border-style:ridge;
}

.content{
    margin-left: 10px;
    margin-bottom: 10px;
}
.button {
    background-color: green;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input{
    border: none;
    border-color: transparent ;
    border-bottom: 2px solid darkslateblue;
    width: 360px;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    font-size: 15px;
    font-weight: bold;
  }
  table, td, th {
    border: 1px solid black;
    text-align: center;
  }
  table {
    width: 75%;
    border-collapse: collapse;
  }